* {
    margin: 0;
}



b {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #2fc5ff;
    width: 100%;
    height: 51px;
    position: absolute;
    text-align: center;
    left: 52px;
    top: 0px;
    display: block;
}

b:hover {
    background-color: rgb(255, 255, 255);
}

/********* Main menu*********/

.nav {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0px;
    width: 50px;
    opacity: .5;

    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.nav:hover {
    opacity: 1;
}

.nav li {
    height: 50px;
    width: 50px;
    overflow: hidden;

    -moz-transition: width .2s ease-in-out, height .2s ease-in-out .2s;
    -webkit-transition: width .2s ease-in-out, height .2s ease-in-out .2s;
    -o-transition: width .2s ease-in-out, height .2s ease-in-out .2s;
    transition: width .2s ease-in-out, height .2s ease-in-out .2s;
}

.nav li:hover {
    width: 200px;
    height: 175px;
}

.nav li a {
    display:inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #bbb;
    margin: 1px;
    color: fff;
    padding-left: 15px;
    cursor: pointer;

    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}


.nav li a:hover {
    background:#2fc5ff;
}

.nav li a:first-child {
    font-size: 1.1em;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-indent: 36px;
}

.nav li a:first-child::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 32px;
    top: 9px;
    left: 9px;
}





.button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4), inset 0 2px 0 rgba(0,0,0,.1)
}

.button::after {
    content: '';
    width: 150px;
    height: 125px;
    display: block;
    opacity: .7;
}









.button:hover::after {
    background-position: center 45%;
}
